.activity-card {
    margin-top: 159px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 250px;
    height: 300px;
    border-radius: 24px !important;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Verdana', sans-serif;
}

.activity-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

.activity-card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
    transition: transform 0.7s ease;
    background-color: white;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

.content-circle-main {
    background-color: white;
    border-radius: 50px;
    padding: 8px 16px;
    margin-top: 20px;
    border: 2px solid #df6ef1;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content-text-main {
    margin: 0;
    font-size: 16px !important;
    color: #4a4a4a !important;
    text-align: center;
}

.activity-card-hover-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 16px;
    opacity: 0;
    transition: all 0.9s ease;
    transform: translateY(100%);
    font-family: 'Verdana', sans-serif;
}

.activity-card:hover .activity-card-content {
    transform: translateY(-290px);
}

.activity-card:hover .activity-card-hover-content {
    opacity: 1;
    transform: translateY(0);
}

.activity-card-icon {
    position: absolute;
    top: 15px;
    transform: translateX(-50%);
    background: linear-gradient(135deg, #f0f0f0, #ffffff);
    border-radius: 50%;
    padding: 12px;
    border: 2px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.content-circle {
    background-color: white;
    border-radius: 50px;
    padding: 8px 16px;
    margin-bottom: 20px;
    border: 2px solid #4CAF50;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.content-text {
    margin: 0;
    font-size: 16px !important;
    color: #4a4a4a !important;
}

.activity-card-hover-content .endpoint-item {
    transition: background-color 0.3s ease;
    padding: 8px 12px;
}

.activity-card-hover-content .endpoint-item:hover {
    background-color: #edf7e8;
    border-radius: 10px;
}