.activity-card {
    margin-top: 159px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 250px;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Verdana', sans-serif;
}

.activity-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

.activity-card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
    transition: transform 0.7s ease;
    background-color: white;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

.activity-card-summary {
    margin-bottom: 16px;
    height: calc(100% - 64px);
    overflow: hidden;
}

.activity-card-hover-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 16px;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(0);
    font-family: 'Verdana', sans-serif;
}

.activity-card:hover .activity-card-content {
    transform: translateY(-230px);
}

.activity-card:hover .activity-card-hover-content {
    opacity: 1;
    transform: translateY(-120px);
}

.activity-card-icon {
    position: absolute;
    top:15px; 
    transform: translateX(-50%);
    background-color: rgba(226, 226, 226, 0.663); 
    border-radius: 50%; 
    padding: 8px; 
    border: 2px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.activity-card-hover-content .endpoint-item {
  transition: background-color 0.3s ease; 
}

.activity-card-hover-content .endpoint-item:hover {
  background-color: #edf7e8; 
  border-radius: 10px; 
}
